/* Приховуємо меню за замовчуванням */
.menu-list {
  position: fixed;
  top: 53px;
  left: -100%;
  width: 100%;
  height: calc(100% - 53px);
  background-color: #9F9FA6;
  color: black;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  // justify-content: center;
  transition: left 0.5s ease;
  z-index: 100;

  overflow: scroll;

  // @include match(tablet) {
  //   top: 100;
  // }
}

.menu-list ul {
  list-style: none;
  padding: 0;
  background-color: #9F9FA6;
}

.menu-list li {
  // margin: 20px 0;
  padding: 10px 45px;
  border-width: 1px;
  border: solid;
  border-top-color: rgba(0,0,0,0);
}

.menu-list a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/* Показуємо меню, коли доданий клас menu-open */
.header__menu.menu-open .menu-list {
  left: 0;
}

/* When the checkbox is checked, show the menu list */
#checkbox:checked ~ .menu-list {
  left: 0;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #696983;
    border-radius: 4px;
  }

  // .bars:hover,
  // .bars:hover ~ .bars,
  // .bars ~ .bars:hover {
  //   background-color: #2a2a35;
  //   transition: background-color, 0.3s;
  //   transition-duration: .3s !important;
  // }

  .toggle:hover .bars {
    background-color: #696983;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }